body {
    background-color: black;
}
div {
    text-align: center;
    font-family: cursive, monospace, Georgia, Times, 'Times New Roman', serif;
}
p, input, label, h3 {
    color: white;
}
a {
    text-decoration: none;
}
[type="submit"] {
    color: black;
    font-family: cursive;
}

h3 {
    padding: 25px 50px 75px 25px;;
}
form {
    
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
label, input {
    padding: 5px;
    margin: 10px;
}